.nav-test {
    position: fixed;
    top: 0;
    left: 0;
    font-size: 10px;
    padding: 1rem;
}

.ul-container {
  display: flex;
  float: right;
}

.ul-header {
  list-style: none;
  padding-left: 2rem;
  margin: 1rem;
}

a {
  text-decoration: none;
}

a:visited {
  color:black;
  font: bold;
}

a:hover {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}